[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "frontend"]
	path = rootfs_overlay/var/www
	url = https://github.com/ballometer/frontend.git
	branch = build
